.rotate-90{
	transform: rotate(90deg);
}

.title{
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size:4rem;
}

.text{
	font-family: 'Merriweather', serif;
	line-height: 2.0;
}

.navbar{
	position:fixed;
	transition:500ms ease;
	background:transparent;
}

.navbar .scrolled{
	background-color:#000;
}

.transparent{
	opacity:0.5;
}
#aboutmejumbo{
	margin:auto;
	margin-top:40%;
	height:30%;
	background: rgba(0,0,0,0.6);
}

#aboutmelist{
	font-size:1.2rem;
	font-family: 'Merriweather', serif;
}
#aboutmelist li{
	background: rgba(194,240,240, 0.5);
}
#experiencesjumbo{
	margin:auto;
	margin-bottom:0%;
	margin-left:5%;
	height:30%;
	background:rgba(0,0,0,0.7);
}
#goalsjumbo{
	margin:auto;
	margin-bottom:0%;
	height:40%;
	background:rgba(0,0,0,0.7);
}
#contactjumbo{
	margin:auto;
	margin-left:0%;
	margin-bottom:0%;
	height:20%;
	width:100%;
	background:rgba(0,0,0,0.7);
}
.carousel-item{
	height:40rem;
}
.carousel-caption{
	background:rgba(0,0,0,0.8);
}
/* for card elements to fade in on scroll
.card-deck{
	opacity:0;
	transform: translate(0, 20px);
	transition: all 0.2s;
}*/

