.rotate-90{
	transform: rotate(90deg);
}

.title{
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size:4rem;
}

.text{
	font-family: 'Merriweather', serif;
	line-height: 2.0;
}

.bg-light{
	transition: 750ms ease;
	background:rgba(255,255,255, 1) !important;
}

.bg-light.scrolled{
	background:rgba(0,0,0,0.7) !important;
}

.color-change.ncol {
	color:white !important;
}

.transparent{
	opacity:0.5;
}
#aboutmejumbo{
	margin:auto;
	margin-top:40%;
	height:30%;
	background: rgba(0,0,0,0.6);
}

#aboutmelist{
	font-size:1.2rem;
	font-family: 'Merriweather', serif;
}
#aboutmelist li{
	background: rgba(194,240,240, 0.5);
}
#experiencesjumbo{
	margin:auto;
	margin-bottom:0%;
	margin-left:5%;
	height:30%;
	background:rgba(0,0,0,0.7);
}
#goalsjumbo{
	margin:auto;
	margin-bottom:0%;
	height:40%;
	background:rgba(0,0,0,0.7);
}
#contactjumbo{
	margin:auto;
	margin-left:0%;
	margin-bottom:0%;
	height:20%;
	width:100%;
	background:rgba(0,0,0,0.7);
}
.carousel-item{
	height:40rem;
}
.carousel-caption{
	background:rgba(0,0,0,0.8);
}

/*.fade-in {
	opacity:0;
	transition: opacity 100ms ease;
}*/

/*.fade-in.appear{
	opacity:1;
}*/

