* {
margin: 0;
padding: 0;
outline: none;
box-sizing: border-box;
}

html, body {
font-size: 100%;
}

header {
	width: 100%;
	background-color: #e0dede;
	opacity: 0.5;
	position: fixed;
	z-index: 2;
}

body{
	background-image: url(xs-background.jpg);
}

.logo {
	width: 40px;
	display: inline-block;
	float: right;
	position: fixed;
	margin-left: 87%;
}

.dropdown button {
	cursor: pointer;	
	display: inline-block;
}	

.dropdown button img {
	width: 50px;
	display: inline-block;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	margin-top: 58px;
	position: fixed;
	background-color: #000;
	min-width: 170px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
	opacity: 0.7;
}

.dropdown-content a {
	color: #fff;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	display: block;
	padding-left: 25%;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: 1px solid white;
}

.dropdown-content .top:hover {
	outline: 1px solid #fff;
	color: #fff;
	font-weight: bold;
}

.dropdown-content .aboutme:hover {
	outline: 1px solid #99d9ea;
	color: #99d9ea;
	font-weight: bold;
}

.dropdown-content .education:hover {
	outline: 1px solid #b5e61d;
	color: #b5e61d;
	font-weight: bold;
}

.dropdown-content .experiences:hover {
	outline: 1px solid #ed1c24;
	color: #ed1c24;
	font-weight: bold;
}

.dropdown-content .goals:hover {
	outline: 1px solid #fff200;
	color: #fff200;
	font-weight: bold;
}

.dropdown-content .contact:hover {
	outline: 1px solid #a349a4;
	color: #a349a4;
	font-weight: bold;
}

.show {
	display: block;
}

#banner-container {
	position: relative;
	text-align: center;
}

#banner-container h1 {
	top: 50%;
	left: 50%;
	margin-top: -100px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 2.5rem;
	z-index: 1;
	background-color: rgba(0,0,0,0.3);
	padding-top: 10px;
	padding-bottom: 10px;
}

#banner-container img{
	margin-top: 60px;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	border-radius: 10%;
	z-index: -1;
	position: relative;
}

#aboutme {
	width: 100%;
	margin-top: 50px;
	background-color: #f4f7fc;
}	

#aboutme h1{
	padding-top: 20px;
	font-size: 2rem;
	font-family: 'Amatic SC', cursive;
	letter-spacing: 1.5px;
}

#education {
	width: 100%;
	background-color: #f2f9f4;
	text-align: center;
}

#education h1{
	padding-top: 20px;
	font-size: 2rem;
	font-family: 'Amatic SC', cursive;
	letter-spacing: 1.5px;
}

#education h2 {
	font-family: 'Amatic SC', cursive;
	letter-spacing: 1.5px;
	font-size: 1.7rem;
}

#compsci {
	color: #929eef;
}

#finance {
	color: #c90a0a;
}

#education .udel-pic {
	width: 100%;
	padding-bottom: 25px;
}

#education p {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 50px;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

#experiences {
	width: 100%;
	background-color: #fcf2f2;
	text-align: center;
}

#experiences h1{
	padding-top: 20px;
	font-size: 2rem;
	font-family: 'Amatic SC', cursive;
	letter-spacing: 1.5px;
}

#experiences h2 {
	text-align: left;
	margin-left: 20px;
	margin-top: 15px;
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.5px;
	line-height: 1.5;
}

.key {
	color: #9d27d8;
	font-weight: 700;
}

#pennmutual {
	color: #62d827;
}

#research {
	color: #d8ac27;
}

#udabroad {
	color: #4a8266;
}

#bhic {
	color: #2421bc;
}

#bha {
	color: #278ed8;
}

#bhlp {
	color: #d82727;
}

#entr {
	color: #00d6b6;
}

#hack {
	color: #ff9d00
}

#experiences ul {
	text-align: left;
	margin-left: 40px;
	line-height: 1.5;
	padding-bottom: 20px;
}

#experiences ul:last-child {
	text-align: left;
	margin-left: 40px;
	line-height: 1.5;
	padding-bottom: 50px;
}

#experiences ul li:first-child {
	font-style: italic;
	list-style-type: none;
	margin-left: -20px;
	padding-bottom: 10px;
	padding-top: 5px;
}

#experiences ul li {
	font-family: 'Raleway', sans-serif;
}

#goals {
	width: 100%;
	background-color: #f7f9ea;
	text-align: center;
}

#goals h1{
	padding-top: 20px;
	font-size: 2rem;
	font-family: 'Amatic SC', cursive;
	letter-spacing: 1.5px;
}

#goals h2 {
	font-family: 'Amatic SC', cursive;
	letter-spacing: 1.5px;
	padding-bottom: 20px;
	font-size: 3rem;
}

#creative-color-change {
	color: #f4426b;
	letter-spacing: 4px;
	font-size: 3rem;
}

#passion-color-change {
	color: #8942f4;
	letter-spacing: 4px;
	font-size: 3rem;
}

#open-color-change {
	color: #56f442;
	letter-spacing: 4px;
	font-size: 3rem;
}

#goals #creative {
	text-align: left;
	padding-left: 20px;
}

#goals #passion {
	text-align: center;
}

#goals #open {
	text-align: right;
	padding-right: 20px;
}

#goals p {
	text-align: left;
	padding-left: 20px;
	padding-bottom: 20px;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

#awards {
	width: 100%;
	background-color: #afd8ff;
	text-align: center;
}

#contact {
	width: 100%;
	background-color: #fff;
	text-align: center;
}

#contact h1{
	padding-top: 20px;
	font-size: 2rem;
	font-family: 'Amatic SC', cursive;
	letter-spacing: 1.5px;
}

#contact img {
	padding-bottom: 50px;
}

/* For laptops */
@media only screen and (min-width: 1280px) {

} 

/* For larger tablets, small laptops */
@media only screen and (min-width: 960px) {
#banner-container img {
	width: 50%;
}

#aboutme .aboutmepic {
	padding-left: 5%;
	min-width: 450px;
	max-width: 650px;
}

#aboutme p {
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
	font-size: 1.3rem;
}

#aboutme h1, #education h1, #experiences h1, #goals h1, #contact h1 {
	font-size: 3rem;
	text-align: center;
}

#education p {
	font-size: 1.3rem;
	padding-left: 60px;
}

#compsci, #finance{
	font-size: 2.2rem;
}

.why-compsci {
	width: 100%;
}

#education h2 {
	font-size: 2.5rem;
}

#experiences h2{
	font-size: 1.3rem;
	margin-left: 5%;
}

#experiences ul{
	margin-left: 10%;
	margin-right: 10%;
}

#experiences ul:last-child{
	margin-left: 10%;
}

#goals #creative{
	margin-left: 5%;
}

#goals #open{
	margin-right: 5%;
}

#goals p {
	font-size: 1.3rem;
	margin-left: 5%;
	margin-right: 5%;
}

#goals p:last-child {
	padding-bottom: 50px;
}

} 

/* For LARGE PHONES, TABLETS */
@media only screen and (min-width: 640px) {
#banner-container img {
	transform: rotate(90deg);
}
#aboutme .underline {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#aboutme .aboutmepic {
	width: 50%;
	padding-left: 10%;
	padding-right: 20px;
	float: left;
	padding-bottom: 25px;
}
#aboutme h1{
	text-align: center;
}
#aboutme p {
	width: 48%;
	padding-top: 10px;
	margin-left: 52%;
	padding-right: 10px;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

#aboutme p:last-child {
	padding-bottom: 50px;
}

#education {
	width: 100%;
	background-color: #f2f9f4;
	text-align: center;
}

#education h1{
	padding-top: 20px;
	font-family: 'Amatic SC', cursive;
	letter-spacing: 1.5px;
}

#education h2 {
	font-family: 'Amatic SC', cursive;
	letter-spacing: 1.5px;
	font-size: 1.7rem;
}

#compsci-pic {
	display: none;
}

#education .underline {
	width: 200px;
}

#experiences img {
	width: 200px;
}

#goals img {
	width: 200px;
}

#contact img {
	width: 200px;
}

#contact p {
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

} 

/* For PHONES */
@media only screen and (max-width: 639px) {

#aboutme h1{
	text-align: center;
}
#aboutme .underline {
	width: 40%;
	margin: auto;
	display: block;
}

#aboutme .aboutmepic {
	display: block;
	width: 70%;
	padding-bottom: 10px;
	margin: auto;
}

#aboutme p {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 25px;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

#education .underline {
	width: 40%;
}

#compsci-pic {
	display: none;
}

#experiences img {
	width: 40%;
}

#goals img {
	width: 40%;
}

#contact img {
	width: 40%;
}

#contact p {
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

.show {
	display: none;
}
} 
